* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    outline: none;
    background: none;
    cursor: pointer;
    border: 1px solid black;
}

input {
    outline: none;
    background: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:visited {
    color: inherit;
}

body {
    height: 100%;
}

#root {
    height: 100%;
    position: relative;
}

.main {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 30px 40px;
    position: relative;
    top: 40px;
}

.mobile {
    top: 80px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

@media (max-width: 600px) {
    .main {
        padding: 0;
    }
}
