.film-card {
    color: green;
    display: flex;
    flex-basis: 370px;
    height: 270px;
    -webkit-box-shadow: -4px 1px 13px -3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -4px 1px 13px -3px rgba(0, 0, 0, 0.25);
    box-shadow: -4px 1px 13px -3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: hidden;

    .card-image {
        height: 100%;
        border-radius: 5px;
        flex-basis: 50%;

        img {
            height: calc(100% + 5px);
            width: 100%;
            border-radius: 5px 0 0 5px;
        }
    }

    .card-info {
        flex-basis: 50%;
        font-size: 16px;
        font-family: Roboto, sans-serif;
        color: black;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: flex-start;

        .rate-and-buttons {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            width: 100%;
            position: relative;

            p {
                word-break: keep-all;
                text-align: start;
            }

            .bookmark {
                height: 25px;
                width: fit-content;
                border: none;
                position: relative;
                top: -2px;
                text-align: center;
            }

            .star-btn {
                width: fit-content;
                height: 25px;
                transform: scale(1.5);
                position: relative;
                border: none;
                text-align: center;

                .star-icon {
                    position: relative;

                    display: inline-block;
                    width: 0;
                    height: 0;

                    margin-left: 0.9em;
                    margin-right: 0.9em;
                    margin-bottom: 1.2em;

                    border-right: 0.3em solid transparent;
                    border-bottom: 0.7em solid rgb(44, 43, 52);
                    border-left: 0.3em solid transparent;

                    /* Controlls the size of the stars. */
                    font-size: 10px;

                    &:before,
                    &:after {
                        content: '';

                        display: block;
                        width: 0;
                        height: 0;

                        position: absolute;
                        top: 0.6em;
                        left: -1em;

                        border-right: 1em solid transparent;
                        border-bottom: 0.7em solid rgb(44, 43, 52);
                        border-left: 1em solid transparent;

                        transform: rotate(-35deg);
                    }

                    &:after {
                        transform: rotate(35deg);
                    }
                }

                .star-icon-fill {
                    border-bottom: 0.7em solid #fc0;

                    &:before,
                    &:after {
                        border-bottom: 0.7em solid #fc0;
                    }
                }
            }
        }

        h3 {
            margin-left: 10px;
            font-size: 16px;
            font-weight: 500;
            word-break: break-word;
            letter-spacing: 0.5px;
            text-align: start;
        }

        .divide-line {
            width: 100%;
            background: rgba(128, 128, 128, 0.35);
            height: 1px;
        }

        .more-info {
            margin-left: 10px;
            margin-bottom: 5px;
            font-size: 14px;
            font-family: Roboto, sans-serif;
            text-align: start;
        }
    }
}
